


#parágrafos{

    background-image: url(./fundos/background-01.jpeg)

}

#principal{
    color: rgb(197, 144, 211)
}
.texto_verde { color: rgb(32, 159, 218);}

#Titulo{ color: burlywood;}

.rgb {color:rgb(0,100,255,0.7)}

/* no exemplo acima o rgb com o quarto número que é a= alpha, que corresponde a intensidade ou transparencia da cor. Esse número vai de 0 a 1 e quanto maior, maior seria a sua intensidade */


#cm{

        background-color: blue;
        width: 1cm;
        height: 1cm;

}

#mm{

    background-color: red;
    width: 1mm;
    height: 1mm;

}

#in{

    background-color: yellow;
    width: 1in;
    height: 1in;

}

#px{

    background-color: gray;
    width: 1px;
    height: 1px;

}
#pt{

    background-color: black;
    width: 10pt;
    height: 10pt;

}
#pc{

    background-color: black;
    width: 10pc;
    height: 10pc;

}
.container{
    font-size: 20px;
    width: 500px;
    height: 2vw;
    background-color: blue;
}

.inside{
    font-size: 2em;
    width: 500px;
    height: 10vw;
    background-color: red;
}

/* com respeito as unidades em ou rem, elas adotam o tamanho, no caso do em, do elemento imediatamente maior em que ele pertence seja uma div ou um p ou um bory, sendo que um estilo em font-size com rem, adota o imediatamente o texto padrão global que é o body */

/* a unidade vw corresponde proporcionalmente ao tamanho da página em largura, o vh em altura, e o vmin ao lado minimo que está sendo dimensionado sendo que o vmax é o contrário do vmin */

/* Quando se utiliza o %, para adotar a proporção do container, ele sempre seguirá o elemento em sua porcentagem definida */